@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: #3498db;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 60vh;
    padding: 0.7rem;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #2980b9;
    border-radius: 0.2rem;
    margin-top: 0.7rem;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 2rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 0.7rem;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
}

label {
    user-select: none;
}
#btn {
    width: 100%;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    padding: 0.7rem;
    background-color: #34495e;
    color: white;
    margin-top: 0.7rem;
    cursor: pointer;
    border-radius: 0.2rem;
}
.btn:hover{
    background-color: #677481;

}
