*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#addBtn{
    position: fixed;
    right: 1rem;
    top: 1rem;
    background-color: #22333b;
    color: #dad7cd;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: #a3b18a;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5.2rem;
}
.note {
    width: 400px;
    height: 400px;
    background-color: #dad7cd;
    margin: 1rem;
    margin-top: 5.2rem;
}
.tool {
    width: 100%;
    background-color: #3a5a40;
    color: #ffb703;
    display: flex;
    justify-content: end;
}
.tool h3{
    margin-right: 18rem;
    font-size: 1.2rem;
    text-align: left;
}
.tool i{
    padding: 0.2rem;
    cursor: pointer;
    margin: 0.2rem 0.2rem 0.2rem 0rem;
}
.note textarea{
border: none;
background-color: #dad7cd;
width: 100%;
height: 100%;
resize: none;
outline: none;
padding: 0.7rem 0.7rem 0px 0.7rem;
font-size: 1rem;
}
.note textarea:focus{
    border: 0;
    outline: 0;
}
